user_uuid="991ce807-9849-49e6-9a72-d3dd56ae4a59"
bucket_name="yfxbvfd96e7bkcoz23tyofncbsq9k0sx"
path_index_html="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
path_error_html="/workspace/terraform-beginner-bootcamp-2023/public/error.html"